.canvasBox {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBox {
    width: '500px';
}

.verifyCodeBox {
    display: flex;

    input {
        margin-right: 20px;
    }

    img {
        cursor: pointer;
    }
}